<div class='projects' ng-init='init()'>
	<div class='aboutWork container'>
		<img class='workSymbol' src='/images/face.jpg'>
		<h3>About Me</h3>
		<p class='information'>Who am I and What I do.</p>
	</div>
</div>
<div class='wrapper aboutWrapper'>
	<div class='container'>
		<div class='aboutDiv'>
			<h3>Hi. I'm John.</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h4>Skills & Services</h4>
			<ul>
				<li>Accredited Professional - Leadership in Energy and Enviornmental Design</li>
				<li>Sustainable Design</li>
				<li>Architectural Design</li>
				<li>Building Information Modeling</li>
				<li>Design Research</li>
				<li>Renovation</li>
				<li>Urban Design</li>
				<li>Space Planning</li>
			</ul>
		</div>
	</div>
</div>
<div class='contactContainer'>
	<div class='container'>
		<h4>Would you like to know more?</h4>
		<br>
		<a href='/#/contact' ng-click='background("contact")'><button class='btn btn-primary'>Contact Me!</button></a>
	</div>
	<div class='developer'>Website designed and developed by <a href="https://www.linkedin.com/in/joshua-francona-55a189b0">Joshua Francona</div>
</div>