<div class='intro' ng-init='init()'>
	<div class='homeBackground'>
		</div>
	<div class='home container'>
		<h1>JOHN D FRANCONA</h1>
		<h3>Architect</h3>
		<hr>
		<p>Specializing in residential and small commercial projects primarily located in the historic districts on the North Side of Pittsburgh.</p>
		<div class='button container'>
			<a ng-click='background("projects")' href='/#/projects'><button class='btn btn-info'>Projects</button></a>
			<a ng-click='background("news")' href='/#/news'><button class='btn btn-info'>News</button></a>
			<a ng-click='background("about")' href='/#/about'><button class='btn btn-info'>About</button></a>
			<a ng-click='background("contact")' href='/#/contact'><button class='btn btn-info'>Contact</button></a>
		</div>
	</div>
	<div class='developer'>Website designed and developed by <a href="https://www.linkedin.com/in/joshua-francona-55a189b0">Joshua Francona</div>
</div>
