<div class='projects' ng-init='init()'>
	<div class='projectWork container'>
		<img class='workSymbol' src='/images/compass.png'>
		<h3>What I've been Up To</h2>
		<p class='information'>Here is a selection of some of my recent projects.</p>
	</div>
</div>
<div class='wrapper projectWrapper'>
	<ul class='projectsList'>
		<li class='project' ng-repeat='project in projects' ng-if='project.images.length >= 2' ng-mouseenter='hover = true' ng-mouseleave='hover = false'>
				<div class='projectDiv' style='background-image:url({{project.images[0].url}})'>
					<div class='overlay'>
						<h4><a class='titleLink' href='/#/projects/{{project.url}}'>{{project.title}}</a></h4>
						<button class='wrap' ng-hide='hover === true'>.</button>
						<a class='projectLink' ng-click='background(projects)' ng-show='hover === true' href='/#/projects/{{project.url}}'>
						<div class='btn btn-info projectBtn'>View Project</div></a>
					</div>
				</div>
		</li>
	</ul>
</div>
<div class='contactContainer'>
	<div class='container'>
		<h4>Would you like to know more?</h4>
		<br>
		<a href='/#/contact' ng-click='background("contact")'><button class='btn btn-primary contactBtn'>Contact Me!</button></a>
	</div>
	<div class='developer'>Website designed and developed by <a href="https://www.linkedin.com/in/joshua-francona-55a189b0">Joshua Francona</div>
	<div class='attribution'>Compass icon made by <a href="http://www.freepik.com" title="Freepik">Freepik </a>Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"> CC BY 3.0</a></div>
</div>

