<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>JDF Architect</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/routes.js"></script>
    <script src="/javascripts/services.js"></script>
</head>
<body ng-app='jdfApp' ng-controller='MainCtrl' ng-init = "init()">
		<div class = 'header'>
			<nav class='navbar navbar-inverse navbar-fixed-top {{class}}' ng-controller='navCtrl'>
				<div class='container'>
					<div class = 'navbar-header'>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="sr-only">Toggle navigation</span>
        					<span class="glyphicon glyphicon-align-justify"></span>
  						</button>
  						<a class='navbar-brand' href='#' ng-click='background("home")'>
  							<p class = 'name'>JOHN D FRANCONA</p>
  							<p class='title'>Architect</p>
  						</a>
					</div>
					<div class='container-fluid'>
						<div class='collapse navbar-collapse' id='collapse'>
							<ul class = 'nav navbar-nav'>
								<li ng-click='background("home")' ng-class='{active: isActive("/")}' class='list'><a data-toggle="collapse" data-target=".in" href='#/'>Home</a></li>
								<li ng-click='background("projects")' ng-class='{active: isActive("/projects")}' class='list'><a data-toggle="collapse" data-target=".in" href='/#/projects'>Projects</a></li>
								<li ng-click='background("news")' ng-class='{active: isActive("/news")}' class='list'><a data-toggle="collapse" data-target=".in" href='/#/news'>News</a></li>
								<li ng-click='background("about")' ng-class='{active: isActive("/about")}' class='list'><a data-toggle="collapse" data-target=".in" href='/#/about'>About</a></li>
								<li ng-click='background("contact")' ng-class='{active: isActive("/contact")}' class='list'><a data-toggle="collapse" data-target=".in" href='/#/contact'>Contact</a></li>
								<li ng-if='isLoggedIn()' ng-click='background("edit")' ng-class='{active: isActive("/edit")}' class='list'><a data-toggle="collapse" data-target=".in" href='/#/edit'>Edit</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	<div>
		<div class='background' style="background-image:url({{backgroundImage}});">
		</div>
		<ng-view autoscroll="true"></ng-view>
	</div>
</body>
</html>
